body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: pink; /* Cor de rosa para o display */
}

.container {
  text-align: center;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

button {
  font-size: 16px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

#yesButton {
  background-color: green; /* Cor verde para o botão "Sim" */
  color: white;
}

#noButton {
  background-color: red; /* Cor vermelha para o botão "Não" */
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}